.body {
  background-color: #eeeeee;
}
.ant-input {
  border-radius: 0px !important;
}
.ant-card {
  margin: 0px !important;
  padding: 0px !important;
  border-radius: 0px !important;
}
.ant-card-body {
  padding-bottom: 0px !important;
  padding-left: 0px !important;
  padding-right: 0px !important;
}
.ant-form-horizontal {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.ant-form-item {
  margin-bottom: 10px !important;
}
.ant-divider {
  margin: 8px !important;
  margin-left: 0px !important;
}

.ant-layout-footer {
  padding: 0px !important;
}
.footer {
  background-color: #f4fce8 !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.ant-layout-footer {
  margin: 0px !important;
  border-top: 1px solid #e6ebf1;
}
.footer-btn {
  background-color: transparent !important;
  border-radius: 0px !important;
  margin: 0 3px;
}
.footer-btn:active,
.footer-btn:focus {
  border-color: rgba(175, 47, 47, 0.2) !important;
  color: #555 !important;
}
.footer-btn:hover {
  border-color: rgba(175, 47, 47, 0.1) !important;
}

.strike {
  text-decoration: line-through;
}
